

@font-face {
            font-family: Aran;
            src: url(fonts/Aran.woff) format("opentype");

            font-family: Alierons;
            src: url("fonts/Ailerons.otf") format("opentype");
        }


#nav{

              /* display: inline-block; */
    width: 20px;
    height: 300px;
    padding-top: -50px;
    float: right;
    margin-top:  -193px;
    margin-right: 10px;
    z-index: 12;

        }

        .ul{

            font-family: Alierons;
            width: 20px;
            /*position: absolute;*/
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: fixed;
            /* overflow: hidden; */
            background-color: red;
             /* display: flex; */
            height: 300px;
            /*background: white;*/

        }

        .ul li a {
        font-size: 23px;
            display: block;
            color: black;
            /*text-align: center;*/
            /*padding: 14px 16px;*/
            text-decoration: none;
            /*display: block;*/
             /**/
             writing-mode: vertical-rl;
             padding: 10px 0 10px 0;

        }

        .ul li a:hover, .slideCaption a:hover{
            color: yellow;
        }


        /*   logo V */


        #LOGo{
            width: 100%;
            height:100px;
            /*display: inline-block;*/
            background: white;
            /*padding-top: -50px;*/
            text-align: center;
        }

        #logo1{
        font-family: Alierons;
        color: black;
        font-size: 100px;
        /*padding-left: 40px;*/
        /*margin-top: -50px;*/
        }
        #logo2{
        font-family: Alierons;
        color: red;
        font-size: 20px;
        /*padding-left: 120px;*/
        }
        h1,h2{
                font-family: Alierons;
                text-align: center;
        }


        /* logo ^*/
